.nav-component{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    padding: 3px 15px;
}

.nav-component:hover{
    font-size: 16px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    padding-top:0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(143, 13, 13);
    color: #fff;
    border-radius: 200px;
    font-weight: bold;
}

.btn-primary-samsung{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid #161616;
    border-radius: 0px;
    padding: 10px 20px;
    transition: 0.5s;
}

.btn-primary-samsung:hover{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: #161616;
    border-radius: 20px;
    padding: 10px 20px;
    border-bottom: 2px solid #161616;
    color: #fff;
    transition: 0.5s;
}
